<!DOCTYPE html>
<html lang="zh-Hans" data-page="solution">
<head>
  <meta charset="UTF-8">
  <base href="<%= htmlWebpackPlugin.options.base %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <%= require("../../meta.ejs")() %>
  <title>Viscovery</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= require("../commons/vendorJS.ejs")() %>
  <%= require("../../ga.ejs")() %>
</head>
<body>
  <%= require("../commons/header.ejs")() %>
  <div class='visc-main solution-main'>

    <!-- Sub Menu -->
    <div id="solutionSubMenu" data-select="2" class="solution-main__sub-menu">
      <%= require("../commons/solution-sub-menu.ejs")() %>
    </div>

    <!-- Hero Block [start] -->
    <div class="hero-block hero-block__no-msk">

      <div class="hero-block__bg hidden-xs" style="background-image:url('./imgs/photo/solution-hero-photo-02.jpg')"></div>
      <div class="hero-block__bg visible-xs" style="background-image:url('./imgs/photo/solution-hero-photo-02-xs.jpg')"></div>

      <div class="container-med">

        <!-- Intro Block -->
        <div class="middle-block">
          <section class="solution-main__intro">
            <h1 class="solution-main__intro__title color-green">V-Buy</h1>
            <h2 class="solution-main__intro__subtitle font-h2 color-white">解读视频内容 分析用户行为<br/>产品精准推荐 实现内容变现</h2>
            <!-- <a href="https://sdkdemo.viscovery.com" target="_blank" class="ghost-dark-button">Demo</a> -->
          </section>
        </div>

      </div>
    </div>  <!-- Hero Block [end] -->


    <!-- Scene Block [start] -->
    <section class="solution-main__scene-block">
      <div class="container-med">

        <div class="solution-main__scene-block__content content-right col-md-6">
          <div class="info-photo hidden-xs" style="background-image:url('./imgs/photo/photo-solution-02-1.jpg')"></div>
          <div class="info-photo visible-xs" style="background-image:url('./imgs/photo/photo-solution-02-1.jpg')"></div>
          <h3 class="info-title font-h3 color-white">关键画面投放互动广告</h3>
          <p class="info-txt font-p-md color-white">在视频关键画面时刻投放互动式角标、弹出、侧边栏广告</p>
        </div>

        <div class="solution-main__scene-block__content content-left col-md-6">
          <div class="info-photo" style="background-image:url('./imgs/photo/photo-solution-02-2.jpg')"></div>
          <h3 class="info-title font-h3 color-white">多平台互动</h3>
          <p class="info-txt font-p-md color-white">实现多平台互动，导流最大化</p>
        </div>

      </div>
    </section>  <!-- Scene Block [end] -->

    <!-- Effect Block [start] -->
    <section class="solution-main__effect-block-type02">
      <div class="container-med slick-area">

        <div class="solution-main__effect-block-type02__list col-sm-6 slick-item">
          <h4 class="top-title font-h6-sm color-dark">广告平均CTR超过</h4>
          <h4 class="med-number color-dark">7<span class="med-number__sm-txt">%</span></h4>
        </div>

        <div class="solution-main__effect-block-type02__list solution-main__effect-block-type02__list--none-border col-sm-6 slick-item">
          <h4 class="top-title font-h6-sm color-dark">整体 ROI</h4>
          <h4 class="med-number color-dark"><span class="med-number__sm-txt--orange">></span>3.5</h4>
        </div>

      </div>
    </section>  <!-- Effect Block [end] -->


    <!-- Banner Block [start] -->
    <section class="solution-main__banner-block">
      <div solution-id="19" id="visualBanner"></div>
    </seciton>  <!-- Banner Block [end] -->


    <!-- Intro List Block [start] -->
    <section class="solution-main__intro-list-block">
      <div class="container-med">

        <h2 class="solution-main__intro-list-block__title font-h2-lg color-dark">What We Do</h2>

        <ul class="list-block">
          <li class="list-block__list col-md-4">
            <h3 class="list-block__list__title font-h3 color-dark">情境式产品推荐</h3>
            <p class="list-block__list__txt font-p-md color-dark-60a">利用VDS自动分析视频结果，推荐与视频内容相关的产品。</p>
          </li>
          <li class="list-block__list col-md-4">
            <h3 class="list-block__list__title font-h3 color-dark">互动式广告呈现</h3>
            <p class="list-block__list__txt font-p-md color-dark-60a">随剧情点击热点关联广告，展示产品，提高点击率。</p>
          </li>
          <li class="list-block__list col-md-4">
            <h3 class="list-block__list__title font-h3 color-dark">跨平台观影体验</h3>
            <p class="list-block__list__txt font-p-md color-dark-60a">透过不同移动端的串连，增加视频与观影者的互动。</p>
          </li>
        </ul>

      </div>
    </section>  <!-- Intro List Block [end] -->


  </div>
  <%= require("../commons/footer.ejs")() %>
</body>
</html>
