<!DOCTYPE html>
<html lang="en" data-page="solution">
<head>
  <meta charset="UTF-8">
  <base href="<%= htmlWebpackPlugin.options.base %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <%= require("../../meta.ejs")() %>
  <title>Viscovery</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= require("../commons/vendorJS.ejs")() %>
  <%= require("../../ga.ejs")() %>
</head>
<body class="lang-en">
  <%= require("../commons/header.ejs")() %>
  <div class='visc-main solution-main'>

    <!-- Sub Menu -->
    <div id="solutionSubMenu" data-select="5" class="solution-main__sub-menu">
      <%= require("../commons/solution-sub-menu.ejs")() %>
    </div>

    <!-- Hero Block [start] -->
    <div class="hero-block">

      <div class="hero-block__bg hidden-xs" style="background-image:url('./imgs/photo/solution-hero-photo-05.jpg')"></div>
      <div class="hero-block__bg visible-xs" style="background-image:url('./imgs/photo/solution-hero-photo-05.jpg')"></div>

      <div class="container-med">

        <!-- Intro Block -->
        <div class="middle-block">
          <section class="solution-main__intro">
            <h1 class="solution-main__intro__title color-green">Customized Service</h1>
            <h2 class="solution-main__intro__subtitle font-h2 color-white">Customize video recognition service solutions<br/>according to customer needs</h2>
            <!-- <a href="https://sdkdemo.viscovery.com" target="_blank" class="ghost-dark-button">Demo</a> -->
          </section>
        </div>

      </div>
    </div>  <!-- Hero Block [end] -->





    <!-- Case List Block [start] -->
    <section class="solution-main__case-list-block">
      <div class="container-med">

        <ul class="case-list">

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-17.jpg" />
                <h3 class="content-main__title">Sohu</h3>
                <h4 class="content-main__sub-title">China’s leading advertising, search engine, and online multiplayer gaming company</h4>
                <h5 class="content-main__intro-title">《Goddess TV》uses Viscovery’s KEY MOMENT Contextual Ad</h5>
                <p class="content-main__intro-txt">Internet flows that were brought by Internet celebrities has become a brand new business opportunity. The platform 《Goddess TV》, which has lots of Internet celebrities, has attracted many marketers’ attention. 《Goddess TV》used Viscovery’s KEY MOMENT contextual ad, which can insert ads related to the video content.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=163" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-18.jpg" />
                <h3 class="content-main__title">Aube</h3>
                <h4 class="content-main__sub-title">We change our way of watching videos here.</h4>
                <h5 class="content-main__intro-title">Ads associated to the individual celebrities are distinctively placed in 《Ripples of Desire 2》</h5>
                <p class="content-main__intro-txt">As one the leading video recognition technology provider, Viscovery’s prime KEY MOMENT product can insert contextual ads in any video. 《Ripples of Desire》adopt’s Viscovery’s Key Moment to enhance user experience and satisfy fans’ desire to buy identical products associated with each celebrity in the drama. This striking interactive and innovative way of seamless ad inserts have also been adopted by China Jiangsu Network TV show 《Fighting Man》.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=164" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-01.jpg" />
                <h3 class="content-main__title">UDN Shopping</h3>
                <h4 class="content-main__sub-title">E-commerce platform created by the udn Group.</h4>
                <h5 class="content-main__intro-title">Ditch the QRcode, mobile shopping never been so easy</h5>
                <p class="content-main__intro-txt">Viscovery collaborated with udn Shopping and released a mobile shopping app embedded with Viscovery’s technology. Shoppers can now take pictures of products they see in newspapers and magazines, the app will recognize them and present more product details and a purchase button. Without the hassle of generating a QRcode, mobile shopping has never been so easy!</p>
              </div>

              <a href="http://viscovery.com/news-article?id=167" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-02.jpg" />
                <h3 class="content-main__title">Taiwan 27th Lantern Festival</h3>
                <h4 class="content-main__sub-title">Taiwan biggest lantern festival celebration</h4>
                <h5 class="content-main__intro-title">Technology meets culture – image recognition tech sparks  lantern festival in Taoyuao</h5>
                <p class="content-main__intro-txt">Using the Taiwan Lantern Festival official App, one can take a snap photo at the event’s mascot “ Energetic Monkey” and get theViscovery has collaborated with UDN Shopping and released a mobile shopping app. With the Viscovery technology, you can now take pictures of products you see in newspapers and magazines, and the app will recognize them and show you the product details. This makes shopping more fun and a lot faster chance to win prizes! By creating a user-app interaction scenario, we successfully bring a traditional event to the new era.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=166" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-03.jpg" />
                <h3 class="content-main__title">Life Magazine</h3>
                <h4 class="content-main__sub-title">Leading lifestyle magazine renowned for its taste and aesthetics</h4>
                <h5 class="content-main__intro-title">Image recognition helps art exhibition to raise awareness and preserve cultural heritage</h5>
                <p class="content-main__intro-txt">Our service created a novel experience at the Dunhuang Exhibition in Beijing. Our intelligent recognition technology attracted more participants to enjoy this amazing cultural showcase. Visitors could take a picture of the item at the exhibition they were interested in to access more details, stories and other kinds of interaction. We are proud to participate in elevating the profound history of Dunhuang and raise awareness to protect this priceless heritage.</p>
              </div>

              <!-- <a href="#" class="content-main__nav">News</a> -->

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-04.jpg" />
                <h3 class="content-main__title">Family Mart</h3>
                <h4 class="content-main__sub-title">One of Asia’s largest international chain convenience stores</h4>
                <h5 class="content-main__intro-title">A new way of metro advertising</h5>
                <p class="content-main__intro-txt">Our DS technology transforms metro advertising from a one-way delivery of information to a two-way interaction.Family Mart buys more than 100 subway ads in China each year, but this time is different. Commuters can take a picture of a “chicken leg” on advertising screen to receive a free bento box e-coupon. The campaign attracted 230,000 participants and planted the brand’s image in the hearts (and stomachs!) of many commuters.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=147" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-05.jpg" />
                <h3 class="content-main__title">Tsannkuen</h3>
                <h4 class="content-main__sub-title">Taiwan’s Largest 3C Electronics Chain Store</h4>
                <h5 class="content-main__intro-title">Catching the mobile shopping trend</h5>
                <p class="content-main__intro-txt">In addition to price comparisons and mobile payment services, our image-recognition function was added to Tsannkuen’s new app to enhance the experience and reinforce the company’s M-commerce offering.</p>
              </div>

              <!-- <a href="#" class="content-main__nav">News</a> -->

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-06.jpg" />
                <h3 class="content-main__title">Woo Tech</h3>
                <h4 class="content-main__sub-title">A subsidiary of China Unicom</h4>
                <h5 class="content-main__intro-title">Technical creativity overcomes online marketing obstacles</h5>
                <p class="content-main__intro-txt">By cooperating with Woo store, one of the biggest app platforms in China with 200 million users, Viscovery allows mobile action gamers to  unlock a free mobile 4G traffic package by simply taking photos of specified objects.</p>
              </div>

              <!-- <a href="#" class="content-main__nav">News</a> -->

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-07.jpg" />
                <h3 class="content-main__title">Ningbo Incity</h3>
                <h4 class="content-main__sub-title">High-end shopping mall</h4>
                <h5 class="content-main__intro-title">A pioneer of interactive exhibitions</h5>
                <p class="content-main__intro-txt">Viscovery cooperated with Ningbo Incity on the “Kevin Tsai’s Secret Study” exhibition. Through image recognition, visitors could understand the history behind books and posters of the Kevin Tsai’s collection. The bingo game unlocked by the recognition app applying our image recognition service was also a huge crowd pleaser.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=148" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-08.jpg" />
                <h3 class="content-main__title">ChipSiP Technology</h3>
                <h4 class="content-main__sub-title">Asia’s leading smart glasses brand</h4>
                <h5 class="content-main__intro-title">visual recognition + smart devices advancing visitor experience</h5>
                <p class="content-main__intro-txt">Visitors can get more information about the historic archives both audibly and visually, through smart glasses with Viscovery’s visual recognition technology.  ChipSiP’s smart glasses co-worked with Taiwan’s National Palace Museum for the very first time, proposing the latest technology breakthrough in 2015’s NPM Digital Archive Projects.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=134" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-09.jpg" />
                <h3 class="content-main__title">Cross-Strait Hanzi Art Festival</h3>
                <h4 class="content-main__sub-title">First-ever cross-Strait calligraphy exhibition</h4>
                <h5 class="content-main__intro-title">Exhibition fun at a whole new level</h5>
                <p class="content-main__intro-txt">With real-time scanning, Viscovery’s Chinese character recognition technology embedded in the exhibition’s app displayed information of the artworks along with an audio guide. The combination of clips and interactive games made the artworks come to life, creating a delightful experience to visitors with the quintessence of the calligraphy.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=126" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-10.jpg" />
                <h3 class="content-main__title">TAZZE</h3>
                <h4 class="content-main__sub-title">One of Taiwan’s largest online book retailers with a popular C2C second-hand book exchange on its app</h4>
                <h5 class="content-main__intro-title">Intuitive buying and selling</h5>
                <p class="content-main__intro-txt">Viscovery worked closely with this second-hand book-selling platform to create the best exchange experience on mobile devices. Book lovers can now simply scan the book cover to search for the copy he or she wants. Using our embedded image recognition technology, users no longer need to key in any kinds of information. Scanning also makes second-hand book categorization more convenient, and reduces the chance of misunderstandings during the transaction.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=113" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-11.jpg" />
                <h3 class="content-main__title">AmWay</h3>
                <h4 class="content-main__sub-title">Globally-renowned nutrition supplement provider</h4>
                <h5 class="content-main__intro-title">Let the product speaks for itself!</h5>
                <p class="content-main__intro-txt">Consumers used to have to call a salesperson for assistance purchasing Amway products. Now, all they need to do is scan and buy. Viscovery’s technology also helps the elderly who struggle to read product information printed on the packaging, or find online shopping complicated. We ensure that with a simple scan, the information and a purchase button is just a photo away, making shopping online ever more friendly and efficient.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=118" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-12.jpg" />
                <h3 class="content-main__title">the Glenlivet</h3>
                <h4 class="content-main__sub-title">Second-largest single malt brand worldwide</h4>
                <h5 class="content-main__intro-title">Image recognition + Augmented Reality + Mobile Whiskey Bar = Cutting-edge interactive experience!</h5>
                <p class="content-main__intro-txt">Running the visual recognition technology within the application reveals an AR animation that introduces the history of Glenlivet and a clip of the Glenlivet team shoot in Europe. Users are then directed to the nearest mobile whiskey bar to receive a mini-sized whiskey souvenir.</p>
              </div>

              <a href="http://viscovery.com/news-article?id=133" class="content-main__nav">News</a>

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-13.jpg" />
                <h3 class="content-main__title">Taiwan Excellence</h3>
                <h4 class="content-main__sub-title">Taiwan Merchandises’ Global Campaign</h4>
                <h5 class="content-main__intro-title">OOH campaign comes to life!</h5>
                <p class="content-main__intro-txt">Viscovery’s visual search technology makes OOH advertisements a platform for mutual communication. By recognising content on the billboard, more exciting and catchy clips and stories can be revealed!</p>
              </div>

              <a href="http://viscovery.com/news-article?id=115" class="content-main__nav">News</a>

            </section>
          </li>

          <!-- <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-14.jpg" />
                <h3 class="content-main__title">LeTV</h3>
                <h4 class="content-main__sub-title">Pioneer of the Media Platform Industry</h4>
                <h5 class="content-main__intro-title">“Ecosystem consists of Platform, Content, End-users and Applications"</h5>
                <p class="content-main__intro-txt">Retrieving valuable datas and information by recognising and analysing faces, scenes and products displayed in the video.</p>
              </div>

              <a href="#" class="content-main__nav">News</a>

            </section>
          </li> -->

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-15.jpg" />
                <h3 class="content-main__title">阿狸 Ali</h3>
                <h4 class="content-main__sub-title">Famous Chinese virtual idol loved by legions of fans nationwide</h4>
                <h5 class="content-main__intro-title">Smart shopping at its best</h5>
                <p class="content-main__intro-txt">With a quick scan, fans can locate merchandise related to the character and find out where to buy them. Visual recognition technology also makes staff training so much easier by providing access to the product information database.</p>
              </div>

              <!-- <a href="#" class="content-main__nav">News</a> -->

            </section>
          </li>

          <li class="case-list__list col-sm-6 col-md-4">
            <section class="case-list__list__content">

              <div class="content-main">
                <img class="content-main__logo" src="./imgs/solution/solution-case-logo-16.jpg" />
                <h3 class="content-main__title">Oreno French+Italian Restaurant</h3>
                <h4 class="content-main__sub-title">Japan-based French and Italian restaurant in Shanghai</h4>
                <h5 class="content-main__intro-title">Smart dining with added benefits</h5>
                <p class="content-main__intro-txt">The media and selected guests were invited to the Michelin-starred restaurant’s opening ceremony to unveil “a gift from a friend.” While waiting for the dishes to be served, guests could scan the Oreno logo using their mobile cameras to reveal the story behind the brand, its philosophy, as well as more information on the chefs and the sommeliers. Oreno successfully showcased why its fans in Japan and Hong Kong are so passionate about for its top-rate cuisine, opening the door to enhancing the brand’s engagement with customers in a new market.</p>
              </div>

              <!-- <a href="#" class="content-main__nav">News</a> -->

            </section>
          </li>

        </ul>


      </div>
    </section>  <!-- Case List Block [end] -->


  </div>
  <%= require("../commons/footer.ejs")() %>
</body>
</html>
